@import fonts
@import vars
@import reset
@import grid

// COMPONENTS

.btn
	z-index: 1
	position: relative
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	cursor: pointer
	border-bottom: none
	overflow: hidden
	background-color: transparent
	transition: .3s
	font-family: $ffMain
	width: 100%
	
// COMMON ELEMENTS

.inner
	overflow: hidden

// TYPOGRAPHY
.h1
	font-size: 0
	font-weight: 0

.h2
	font-size: 0
	font-weight: 0

.h3
	font-size: 0
	font-weight: 0
