include _vars
doctype html
block vars
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" href="upload/favicon.png" type="image/png")
		title=title
	body
		.inner
			link(rel="stylesheet", href="template/styles/css/style.css" + version)
			link(rel="stylesheet", href="template/styles/css/responsive.css" + version)
			include parts/header
			main.main
				block content
			include parts/footer

			script(src="template/scripts/js/common.js" + version)